body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 0;
}

.app {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fff;
  padding: 15px 50px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.navbar h1 {
  font-size: 20px;
  color: rgba(0, 51, 160, 255);
}

.nav-links a {
  margin: -30px 20px;
  color: #333;
  text-decoration: none;
  font-weight: bold;
  font-size: 15px;
}

.lang-select {
  font-size: 14px;
  color: #333;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.top-buttons {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.download-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left:120px;
}

.download-button:hover {
  background-color: #45a049;
}

.text-area-container {
  display: flex;
  gap: 150px;
  margin-bottom: 20px;
}

.text-area {
  display: flex;
  flex-direction: column;
  width: 350px;
}

.text-area textarea {
  width: 140%;
  height: 350px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
  font-size: 16px;
  margin-top: -100px;
}


.translate-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: flexbox;
  margin-right: 50px;
  margin-left:30px;
  margin-top:10px;
}
.summarize-button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  display: flexbox;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  margin-top:10px;
}

.translate-button:hover {
  background-color: #0069d9;
}
.summarize-button:hover {
  background-color:#0069d9
}