body {
  font-family: Arial, sans-serif;
  background-color: rgba(0, 51, 160, 255);
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 500px;
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.highlight {
  color: rgba(0, 51, 160, 255);
}

.file-upload {
  margin-bottom: 10px;
}

.file-upload input[type="file"] {
  display: block;
  margin: 15px auto;
}

.upload-button {
  margin-bottom: 20px;
}

.upload-button input[type="submit"] {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.upload-button input[type="submit"]:hover {
  background-color: #45a049;
}

.output-textarea {
  margin-top: 20px;
  margin-right: 20px;
}

.output-textarea textarea {
  width: 100%;
  height: 100px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  resize: none;
}
