body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* styles.css */

/* body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f9;
  } */
  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 62.5%;
}
.general{
    background: linear-gradient(to bottom, #333, #4a7b85);
    overflow: hidden;
}
span{
    color: #cf711f;
}
.top{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-top: 3rem;
}
.nav-text{
    display: flex;
    gap: 8rem;
}
h1{
    color: #aaa;
    font-size: 3.6rem;
    text-transform: uppercase;
    font-weight: 900;
}
a{
    color: #fff;
}
.abt:link{
    font-weight: 900;
    text-decoration: none;
    font-size: 2rem;
}
.section{
    /* background: radial-gradient(#ffc107, #ffa07a); */
    /* background: conic-gradient(#ffd7be, #ffc5c5, #ff99cc); */
    /* background: conic-gradient(#7f7f7f, #a5a5a5, #cccccc); */
    width: 100vw;   
    display: flex;
    align-items: center;
    justify-content: center;
    height: 90vh;
    padding: 0;
}
.container{
    max-width: 120rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}
.textarea {
    /* width: 100%;
    height: 30rem;
    padding: 10px;
    font-size: 1.6rem;
    border: 1px solid #555;
    border-radius: 4px;
    resize: none; */
    background-color: #ddd;
    color: #666;
    padding: 1.2rem;
    border-radius: 9px;
    border: 3px solid transparent;
    outline: none;
    font-family: sans-serif;
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.2;
    width: 65rem;
    height: 35rem;
    transition: all 0.2s;
    
}
.textarea:hover{
    cursor: pointer;
    background-color: #999;
}
.textarea:focus{
    cursor: text;
    color: #333;
    background-color: #fff;
    border: #444;
}
.input, .output{
    display: flex;
    flex-direction: column;
    gap: 2.2rem;
}
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;
}
.btn-all{
    display: inline-block;
    padding: 1rem 2.5rem;
    border: none;
    border-radius: 5px;
    font-size: 1.5rem;
    font-weight: 400;
    background-color: #333;
    color: #fff;
}
.btn-all:hover{
    scale: 1.04;
    transition: 0.2s;
    background-color: #000;
    color: #fff;
}